{% extends '/templates/layouts/base.twig' %}

{% block content %}

<main role="main">

  {# Wordpress flexible layout sample #}
  {# If possible design each component so it works with any other component aligned next #}
  {# This allows creating only 1 page, everything else can be done in the backend #}
  {% if index.content|length %}
      {% for item in index.content %}

        {% if item.acf_fc_layout == 'text' %}
          {% include "/templates/components/text.twig" with { params: item } %}
        {% elseif item.acf_fc_layout == 'card-list' %}
          {% include "/templates/components/card-list.twig" with { params: item } %}
        {% endif %}

      {% endfor %}
    {% endif %}

  {# {% include '/templates/components/albums/list.twig' with { params: album } %} #}

</main>

{% endblock %}
