<a href="{{ params.url }}" class="inline-block relative">
  <div
    class="button-bg-sm lg:button-bg-md shadow-button relative inline-block text-white text-base leading-none text-center uppercase font-bold py-4 lg:py-5 px-6 rounded-none text-shadow-button">
    {{ params.title }}</div>
</a>