{% set buttonClass = "button-bg-sm lg:button-bg-md shadow-button text-white text-base leading-none text-center uppercase font-bold py-4 lg:py-5 px-6 rounded-none text-shadow-button" %}
<a href="{{ params.url }}" class="inline-block relative {{ buttonClass }}">
  {{ params.title }}
</a>
