{#
  Section with picture

  @param {string}  url
  @param {wysiwyg} text
#}

{# Output #}
<section class="c-picture container">
  <div class="row">
    <div class="col-12 md:offset-2 md:col-8 xl:offset-3 xl:col-6 mb-4 lg:mb-8">
      <img data-src="{{ params.url }}" alt="" class="" >
    </div>
  </div>
</section>