{#
  Section with picture

  @param {string}  url
  @param {wysiwyg} text
#}

{# Output #}
<section class="container">
  <div class="row">
    <div class="col-12 lg:offset-3 lg:col-6 mb-4 lg:mb-8">
      <img data-src="{{ params.url }}" alt="" class="" >
    </div>
  </div>
</section>