{#
  Section with text

  We set a class .article to the div that contains wysiwyg content.
  We have to extact styles in the css for the layout, so the html in
  the content can be naked.

  @param {string}  title
  @param {wysiwyg} text
#}

{# Output #}
<section class="container">
  <div class="row">
    <div class="col-12 md:offset-2 md:col-8 xl:offset-3 xl:col-6 article">
      {% if params.title %}
      <h1 class="text-3xl lg:text-5xl mb-4 lg:mb-8 leading-tight">{{ params.title }}</h1>
      {% endif %}
      {% if params.text %}
      <div class="mb-4 lg:mb-8">{{ params.text|raw }}</div>
      {% endif %}
    </div>
  </div>
</section>